/*
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking. */


/* GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */




/* DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */
@media only screen and (min-width: 768px) {
	/* Desktop styles go below this line */


	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) #9d9d9d*/
@media (min-width: @screen-lg-min) { 
	.mainpage{
		width:1140px;
	}
}


.custom-page{
	width: 100%;
    min-height: 300px;
    background: #252525;
	padding:20px;
	color:#FFF;
}

.footer-logo{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
	justify-content:center;
}

.footer-logo .col-md-4{
       padding: 40px 60px;
}

#logoFoot{
	background:#FFF;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}


.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}

#enduro-navbar ul li a{
	font-size:16px;
}

.footer{
	background:#000;
	color:#FFF;
	padding: 10px;
	margin-bottom:30px;
	text-align:Center;
}

